/* ----------------------------- */
/* - INITIAL and MOBILE layout - */
/* ----------------------------- */

.soccerBackground {
  background-image: url('../assets/graphics/phil-goodwin-96377-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat !important;
  filter: brightness(0.7);
  height: 100%;
  margin-top: 64px;
}

.homeLogoControl {
  width: 60%;
  max-width: 250px;
  margin-bottom: 1rem;
}

.overlayControl {
  position: absolute;
  top: 64px;
  padding: 2.5rem;
}

.hero {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.socialIcons {
  width: 50%;
  max-width: 250px;
  margin: 1rem 0rem;
}

.googleMapEmbed {
  width: 60vw;
  height: 40vw;
  margin-bottom: 0.75rem;
}

/* ----------------------------- */
/* ------- TABLET Layout ------- */
/* ----------------------------- */

@media screen and (min-width: 769px) {
  ul {
    list-style: none;
  }
}

/* ----------------------------- */
/* ------- DESKTOP Layout ------ */
/* ----------------------------- */

@media screen and (min-width: 1024px) {
}

/* ----------------------------- */
/* ------- WIDESCREEN Layout --- */
/* ----------------------------- */

@media screen and (min-width: 1216px) {
}

/* ----------------------------- */
/* ------- FULL HD Layout ------ */
/* ----------------------------- */

@media screen and (min-width: 1408px) {
}
